.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  max-height: 75vh;
  overflow: auto;
  @include max-fullhd {
    gap: 20px;
  }
  &::-webkit-scrollbar {
    width: 16px;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    @include max-fullhd {
      width: 14px;
      border-radius: 10px;
    }
  }
  &::-webkit-scrollbar-thumb {
    background-color: #cbcbcb;
    border-radius: 10px;
    cursor: grab;
    border: 2px solid #fff;
    @include max-fullhd {
      border-radius: 8px;
    }
  }
  &.has-scroll {
    padding-right: 20px;

    @include max-fullhd {
      padding-right: 14px;
    }
  }
  &__group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    @include max-fullhd {
      gap: 8px;
    }
    &-dynamic {
      display: flex;
      flex-direction: column;
      gap: 30px;
      @include max-fullhd {
        gap: 20px;
      }
    }
    &-label {
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      color: #0d0d0d;
      @include max-fullhd {
        font-size: 16px;
        line-height: 22px;
      }
      @include max-sm {
        font-size: 14px;
        line-height: 18px;
      }
      &-desc {
        font-weight: 400;
        font-size: 21px;
        line-height: 30px;
        color: #4d4d4d;
        @include max-fullhd {
          font-size: 14px;
          line-height: 20px;
        }
        @include max-sm {
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
    &-input,
    &-file__field {
      border-radius: 15px;
      border: 1px solid #cbcbcb;
      padding: 28px 24px;
      font-weight: 400;
      font-size: 24px;
      line-height: 33px;
      outline: none;
      width: -webkit-fill-available;
      background-color: #fff;
      @include max-fullhd {
        border-radius: 10px;
        padding: 18px 16px;
        font-size: 16px;
        line-height: 22px;
      }
      @include max-xxl {
        padding: 13px 16px;
      }
      @include max-sm {
        font-size: 14px;
        line-height: 20px;
      }
      &::placeholder {
        color: #a3a3a3;
      }
      &.error {
        border: 1px solid #e53935 !important;
      }
      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 50px #ffffff inset;
        background-clip: text;
        -webkit-text-fill-color: #0d0d0d;
        caret-color: white;
      }
    }
    &-file__field {
      color: #0d0d0d;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      cursor: pointer;
      border: 1px dashed #a3a3a3;
      @include max-fullhd {
        gap: 8px;
      }
      &.dragover {
        border-color: #4a8ef0;
        background: #eef5ff;
      }
      & img {
        width: 36px;
        height: 36px;
        @include max-fullhd {
          width: 24px;
          height: 24px;
        }
      }
    }
    &-file__text_default {
      font-size: 21px;
      line-height: 30px;
      @include max-fullhd {
        font-size: 14px;
        line-height: 20px;
      }
      @include max-sm {
        font-size: 12px;
        line-height: 18px;
      }
      & span {
        text-decoration: underline;
        color: #f46d06;
      }
    }
    &-file__box {
      position: relative;
      & #input-file {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }
    }
    &-textarea {
      height: 205px;
      @include max-fullhd {
        height: 140px;
      }
      @include max-xxl {
        height: 150px;
      }
    }
  }
}
