.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @include max-bigScreen {
    gap: 20px;
  }
  &__group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    @include max-bigScreen {
      gap: 8px;
    }
    &-label {
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      color: #0d0d0d;
      @include max-bigScreen {
        font-size: 16px;
        line-height: 22px;
      }
      @include max-sm {
        font-size: 14px;
        line-height: 18px;
      }
      &-desc {
        font-weight: 400;
        font-size: 21px;
        line-height: 30px;
        color: #4d4d4d;
        @include max-bigScreen {
          font-size: 14px;
          line-height: 20px;
        }
        @include max-sm {
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
    &-input,
    &-file__field {
      border-radius: 15px;
      border: 1px solid #cbcbcb;
      padding: 29px 24px;
      font-weight: 400;
      font-size: 24px;
      line-height: 33px;
      outline: none;
      width: -webkit-fill-available;
      background-color: #fff;
      @include max-bigScreen {
        border-radius: 10px;
        padding: 19px 16px;
        font-size: 16px;
        line-height: 22px;
      }
      @include max-xxl {
        padding: 14px 16px;
      }
      @include max-sm {
        font-size: 14px;
        line-height: 20px;
      }
      &::placeholder {
        color: #a3a3a3;
      }
    }
    &-file__field {
      color: #0d0d0d;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      cursor: pointer;
      @include max-bigScreen {
        gap: 8px;
      }
      & img {
        width: 36px;
        height: 36px;
        @include max-bigScreen {
          width: 24px;
          height: 24px;
        }
      }
    }
    &-file__text {
      font-size: 21px;
      line-height: 30px;
      @include max-bigScreen {
        font-size: 14px;
        line-height: 20px;
      }
      @include max-sm {
        font-size: 12px;
        line-height: 18px;
      }
      & span {
        text-decoration: underline;
        color: #f46d06;
      }
    }
    &-file__box {
      position: relative;
      & #input-file {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }
    }
    &-textarea {
    }
  }
}
