.reviews-page {
    position: relative;
}
.reviews {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: max-content;
  width: max-content;
  z-index: 5;
  &__slider {
  }
  &__slide {
    border-radius: 30px;
    background-color: #f0f0ef;
    max-width: 1800px;
    padding: 94px 150px;
    @include max-fullhd {
      max-width: 1200px;
      padding: 60px 100px;
    }
    &-quote {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    &-info {
    }
    &-name {
    }
    &-job {
    }
    &-bottom {
      display: flex;
      justify-content: space-between;
    }
    &-project {
      &__title {
      }
      &__images {
        display: flex;
        gap: 15px;
        & img {
          width: 267px;
          height: 150px;
          @include max-fullhd {
            width: 178px;
            height: 100px;
          }
        }
      }
      &__logo {
        & img {
          width: 420px;
          height: 143px;
          @include max-fullhd {
            width: 280px;
            height: 95px;
          }
        }
      }
    }
  }
}
