.owl-stage-outer {
  overflow: hidden;
}
.owl-stage {
  display: flex;
}
.owl-loaded {
  position: relative;
}
.owl-nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  @include max-xl {
    left: auto;
    bottom: auto;
    right: 0;
    top: -93px;
    justify-content: center;
    width: max-content;
    gap: 10px;
  }
  @include max-lg {
    top: -84px;
  }
}
.owl-nav button {
  background-image: url(../images/slider_btn_right.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 90px;
  height: 90px;
  cursor: pointer;
  pointer-events: all;
  @include max-bigScreen {
    width: 60px;
    height: 60px;
  }
  @include max-xxxl {
    width: 50px;
    height: 50px;
  }
  @include max-xl {
    width: 48px;
    height: 48px;
  }
  & .sr-only {
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  & span {
    display: none;
  }
}
.owl-prev {
  transform: rotate(180deg);
}
.owl-dots {
  display: none;
}