.licenses {
  &__content {
  }
  &__slider {
    margin: 75px auto 0;
    padding: 0 17%;
    @include max-fullhd {
      margin: 50px auto 0;
      padding: 0 16%;
    }
    @include max-xxl {
      padding: 0 14%;
    }
    @include max-l {
      padding: 0;
      margin: 90px auto 0;
    }
    & .owl-nav {
      @include max-l {
        top: -70px;
      }
    }
    & img {
      @include max-fullhd {
      }
    }
  }
}
