.areas {
  &__content {
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    @include max-fullhd {
      gap: 10px;
    }
    @include max-l {
      grid-template-columns: repeat(2, 1fr);
    }
    @include max-sm {
      grid-template-columns: 1fr;
    }
    &-item {
      position: relative;
      height: 100%;
      overflow: hidden;
      padding-top: 56.25%;
      width: 100%;
      & img:first-child {
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
      }
      & .imgBox {
        position: relative;
        display: flex;
        &::after {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 37.22%, rgba(0, 0, 0, 0.7) 103.98%);
          z-index: 1;
        }
      }
      &__text {
        position: absolute;
        width: 100%;
        z-index: 6;
        left: 0;
        right: 0;
        bottom: 20px;
        margin: auto;
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        @include max-fullhd {
          gap: 5px;
          padding: 0 20px;
        }
        @include max-lg {
          padding: 0 10px;
        }
      }
      &__title {
        color: #fff;
        font-weight: 700;
        text-align: center;
      }
      &__desc.redactor_wp p {
        display: none;
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
        color: #ffffff !important;
        @include max-fullhd {
          font-size: 16px;
          line-height: 22px;
        }
        @include max-l {
          font-size: 12px;
          line-height: 18px;
        }
      }
      &:hover .areas__grid-item__desc p {
        display: block;
      }
      &:hover .areas__grid-item__text {
        top: 0;
        bottom: 0;
        margin: auto;
        height: max-content;
      }
      &:hover::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 5;
      }
      & .touch_icon {
        position: absolute;
        right: 0;
        bottom: 0;
        display: none;
        width: 32px;
        height: 32px;
        @include max-l {
          display: block;
          z-index: 10;
        }
      }
    }
  }
  & .custom-button {
    margin: 50px auto 0;
    @include max-l {
      margin: 20px auto 0;
    }
  }
}
