.steps {
  &__content {
  }
  & .sectionTitle {
    margin-bottom: 20px;
  }
  &__desc {
    font-weight: 400;
    font-size: 26px;
    line-height: 44px;
    color: #4d4d4d;
    @include max-fullhd {
      font-size: 18px;
      line-height: 30px;
    }
    @include max-xxl {
      font-size: 16px;
      line-height: 22px;
    }
    @include max-sm {
      font-size: 14px;
      line-height: 20px;
    }
  }
  &__box {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 75px;
    gap: 75px;
    @include max-fullhd {
      margin-top: 50px;
      gap: 50px;
    }
    @include max-xxl {
      grid-template-columns: 2fr 1fr;
    }
    @include max-l {
      margin-top: 30px;
      grid-template-columns: 1fr;
      gap: 60px;
    }
    @include max-sm {
      gap: 20px;
    }
  }
  &__list {
    counter-reset: step;
    display: flex;
    flex-direction: column;
    gap: 50px;
    list-style-type: initial;
    list-style: initial;
    @include max-fullhd {
      gap: 35px;
    }
    @include max-xxl {
      gap: 25px;
    }
    &-item {
      counter-increment: step;
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 15px;
      &::before {
        content: counter(step) '.';
        font-weight: 700;
        font-size: 63px;
        line-height: 50px;
        color: #ff7d00;
        position: absolute;
        top: -5px;
        height: max-content;
        @include max-fullhd {
          font-size: 42px;
          line-height: 33px;
        }
        @include max-xxl {
          font-size: 32px;
          line-height: 40px;
        }
        @include max-lg {
          font-size: 24px;
          line-height: 32px;
        }
        @include max-md {
          top: 0;
        }
      }
      &__title {
        margin-left: 65px;
        font-weight: 600;
        color: #0d0d0d;
        @include max-fullhd {
          margin-left: 50px;
        }
        @include max-xxl {
          margin-left: 35px;
        }
        @include max-lg {
          margin-left: 25px;
        }
        @include max-md {
          margin-left: 30px;
        }
      }
      &__desc {
      }
    }
  }

  &__img {
    object-fit: cover;
  }
}
