.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  overflow: auto;
  display: none;
  &[style*='display: block'] {
    display: flex !important;
  }
  &__inner {
    background-color: #f0f0ef;
    border-radius: 30px;
    padding: 75px 60px 60px;
    position: relative;
    max-width: 975px;
    overflow: auto;
    max-height: 95vh;
    @include max-fullhd {
      border-radius: 20px;
      max-width: 650px;
      padding: 50px 40px 40px;
    }
    @include max-md {
      max-width: 94%;
      margin: auto;
    }
    @include max-sm {
      padding: 40px 10px 20px;
    }
  }
  &__close {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 38px;
    right: 38px;
    cursor: pointer;
    @include max-fullhd {
      width: 21px;
      height: 21px;
      top: 25px;
      right: 25px;
    }
    @include max-sm {
      top: 15px;
      right: 15px;
    }
  }
  &-lang .popup__title {
    font-size: 36px;
    line-height: 48px;
    @include max-fullhd {
      font-size: 24px;
      line-height: 32px;
    }
    @include max-sm {
      font-size: 20px;
      line-height: 28px;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: #0d0d0d;
    text-align: center;
    margin-bottom: 60px;
    @include max-fullhd {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 40px;
    }
    @include max-sm {
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 28px;
    }
  }
  &Partners {
    & .popup__title {
      font-size: 36px;
      line-height: 48px;
      @include max-fullhd {
        font-size: 24px;
        line-height: 32px;
      }
      @include max-sm {
        font-size: 20px;
        line-height: 28px;
      }
    }
    & .form {
      height: 60vh;
      overflow: auto;
      padding-right: 20px;
      @include max-fullhd {
        padding-right: 12px;
      }
      &::-webkit-scrollbar {
        width: 16px;
        background-color: #fff;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        @include max-fullhd {
          width: 14px;
          border-radius: 10px;
        }
      }
      &::-webkit-scrollbar-thumb {
        background-color: #cbcbcb;
        border-radius: 10px;
        cursor: grab;
        border: 2px solid #fff;
        @include max-fullhd {
          border-radius: 8px;
        }
      }
    }
    &__hidden-group {
      display: none;
    }
    & .videoBlock {
      height: auto;
    }
    & .popup__button {
      margin-top: 0;
    }
  }
  & .text_simple {
    color: #4d4d4d;
    text-align: center;
    @include max-sm {
      font-size: 14px;
      line-height: 20px;
    }
  }
  &__socials {
    margin-top: 30px;
    justify-content: center;
    gap: 60px;
    @include max-fullhd {
      margin-top: 20px;
      gap: 40px;
    }
  }
  &__button {
    max-width: 525px;
    margin: 60px auto 0;
    @include max-fullhd {
      max-width: 350px;
      margin: 40px auto 0;
    }
    @include max-sm {
      max-width: 290px;
      margin: 20px auto 0;
    }
  }
  & .custom-button_white {
    margin-top: 30px;
    @include max-fullhd {
      margin-top: 20px;
    }
    @include max-sm {
      margin-top: 10px;
    }
  }
  &__notation {
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    text-align: center;
    color: #4d4d4d;
    margin-top: 15px;
    @include max-fullhd {
      font-size: 14px;
      line-height: 20px;
      margin-top: 10px;
    }
    @include max-sm {
      font-size: 12px;
      line-height: 18px;
    }
  }
}
