.partnershipTypes {
  &__content {
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 75px;
    margin-top: 75px;
    @include max-fullhd {
      gap: 50px;
      margin-top: 50px;
    }
    @include max-xxl {
      gap: 20px;
    }
    @include max-xl {
      column-gap: 20px;
      margin-top: 20px;
      grid-template-columns: repeat(2, 1fr);
    }
    @include max-md {
      grid-template-columns: 1fr;
      row-gap: 20px;
    }
    @include max-sm {
      grid-template-columns: 1fr;
    }
    &-item {
      display: flex;
      flex-direction: column;
      height: 100%;
      border-radius: 15px;
      border: 1px solid #cbcbcb;
      padding: 30px;
      @include max-fullhd {
        border-radius: 10px;
        padding: 20px;
      }
      @include max-xxl {
        padding: 10px;
      }
      &_top {
        flex: 1 0 auto;
        & img {
          max-height: 432px;
          height: auto;
          object-fit: cover;
          @include max-fullhd {
            max-height: 288px;
          }
          @include max-xxl {
            max-height: 236px;
          }
          @include max-l {
            max-height: 257px;
          }
          @include max-sm {
            max-height: 182px;
          }
        }
      }
      &_bottom {
        flex-shrink: 0;
      }
      &__title {
        margin: 60px 0 15px;
        @include max-fullhd {
          margin: 40px 0 10px;
        }
        @include max-fullhd {
          margin: 20px 0 10px;
        }
      }
      &__desc {
      }
      & button {
        width: auto;
        max-width: max-content;
        margin: 30px auto 0;
        max-width: 525px;
        width: 100%;
        @include max-fullhd {
          margin: 20px auto 0;
          max-width: 350px;
        }
        @include max-xl {
          max-width: 100%;
        }
        @include max-sm {
          max-width: 290px;
        }
        & span {
          width: 100%;
        }
      }
    }
  }
  & + .text-slogan {
    padding-bottom: 150px;
    max-width: 1461px;
    @include max-fullhd {
      margin-bottom: 100px;
      max-width: 974px;
    }
    @include max-xxl {
      max-width: 650px;
    }
    @include max-l {
      margin-bottom: 50px;
    }

    @include max-sm {
      max-width: 100%;
    }
  }
}
