.departments {
  &__content {
  }
  &__items {
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 75px;
    @include max-fullhd {
      gap: 50px;
      margin-top: 50px;
    }
    @include max-xxl {
      gap: 20px;
    }
    @include max-l {
      margin-top: 90px;
      grid-template-columns: 1fr;
      // width: calc(100vw);
      // left: 50%;
      // margin-left: -50vw;
      // position: relative;
      // padding-left: 20px;
    }
    @include max-l {
      margin-left: -100px;
    }
    @include max-lg {
      margin-left: -20px;
    }
    @include max-sm {
      margin-left: -35px;
    }
    & .owl-stage-outer {
      overflow-x: visible;
      overflow-y: clip;
    }
    & .owl-nav {
      top: -65px;
      // right: 20px;
    }
  }
  &__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    @include max-l {
      grid-template-columns: 1fr;
      gap: 20px;
    }
    & img {
      aspect-ratio: 16 / 9;
      object-fit: cover;
      height: auto;
    }
    &-images__list a {
      display: flex;
    }
    &-images__list a:nth-child(n+2) {
      display: none;
    }
    &-text {
      display: flex;
      flex-direction: column;
      gap: 15px;
      @include max-fullhd {
        gap: 10px;
      }
    }
    &-title {
      font-weight: 700;
    }
    &-desc {
      color: #0d0d0d;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      @include max-fullhd {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}
