.product {
  &__slider {
    @include max-sm {
      // display: none;
    }
    & a {
      @include max-sm {
        display: flex;
        height: auto !important;
      }
      &.video-fancybox-trigger {
        position: absolute;
      }
    }
    & a img {
      @include max-sm {
        // position: relative !important;
      }
    }
    &_mobile {
      display: none;
      @include max-sm {
        display: block;
        width: calc(100vw);
        left: 50%;
        margin-left: -50vw;
        position: relative;
      }
      & .owl-nav {
        @include max-sm {
          top: -60px !important;
        }
      }
      & .play__btn {
        width: 50px;
        height: 50px;
      }
    }
    &-item {
      // display: grid;
      // grid-template-columns: 1fr;
      // gap: 15px;
      // @include max-fullhd {
      //   gap: 10px;
      // }
      // &:has(video) {
      //   grid-template-columns: 1fr 1fr;
      // }
      // &:has(video) .product__slider-images {
      //   grid-template-columns: repeat(2, 1fr);
      // }
    }
    &-media {
      display: grid;
      grid-template-columns: 1fr;
      gap: 15px;
      height: max-content;
      @include max-fullhd {
        gap: 10px;
      }
      @include max-sm {
        display: flex;
        // width: calc(100vw);
        // left: 50%;
        // margin-left: -50vw;
        // position: relative;
        gap: 0;
        // margin-left: -20px;
      }
      &:has(video) {
        grid-template-columns: 1fr 1fr;
      }
      &:has(video) .product__slider-images {
        grid-template-columns: repeat(2, 1fr);
      }
      & .owl-stage {
        height: max-content;
      }
      & .owl-stage-outer {
        height: max-content;
      }
      & .owl-item {
        position: relative;
        height: max-content;
      }
      &.owl-loaded .owl-nav {
        display: none;
        @include max-sm {
          display: flex;
          position: absolute;
          top: 0 !important;
          bottom: 0;
          width: 100%;
          justify-content: space-between;
          opacity: 0.5;
        }
        & .owl-prev {
          @include max-sm {
            left: 20px;
            position: relative;
          }
        }
        & .owl-next {
          @include max-sm {
            right: 20px;
            position: relative;
          }
        }
      }
    }
    &-images {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
      @include max-fullhd {
        gap: 10px;
      }
      @include max-l {
        grid-template-columns: repeat(2, 1fr);
      }
      @include max-sm {
        display: flex;
      }
      & a:nth-child(n + 5) {
        display: none;
        @include max-sm {
          display: block;
        }
      }
    }
    &-video {
      & video {
        object-fit: cover;
      }

      & .play__btn {
        width: 150px;
        height: 150px;
        opacity: 0;
        @include max-fullhd {
          width: 100px;
          height: 100px;
        }
        @include max-l {
          width: 50px;
          height: 50px;
        }
      }
    }
    & .owl-nav {
      bottom: initial;
      @include max-xl {
        top: -90px;
        left: auto;
        right: 0;
        width: auto;
        display: flex;
        gap: 10px;
      }
      @include max-l {
        top: -60px !important;
      }
    }
  }

  &__info {
    margin-top: 75px;
    display: grid;
    grid-template-columns: 4fr 0fr 1fr;
    gap: 75px;
    @include max-fullhd {
      margin-top: 50px;
      gap: 50px;
    }
    @include max-l {
      margin-top: 20px;
      gap: 20px;
    }
    @include max-lg {
      display: flex;
      flex-direction: column-reverse;
    }
    & .line {
      &_vertical {
        @include max-lg {
          height: 1px;
          width: 100%;
          background-color: #cbcbcb;
        }
      }
    }
  }
  &__data {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    &-val {
      margin-top: 5px;
    }
  }
  &__location {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #4d4d4d;
  }
}
