@import './includes/variables.scss';
@import './includes/mixins.scss';
@import './includes/reset.scss';

//header
@import './includes/blocks/header/header.scss';

//main
@import './includes/blocks/main/main.scss';

//about
@import './includes/blocks/templates/template1.scss';
@import './includes/blocks/templates/template2.scss';

//virtualTour
@import './includes/blocks/about/about.scss';
@import './includes/blocks/virtualTour/virtualTour.scss';
@import './includes/blocks/production/production.scss';
@import './includes/blocks/logistics/logistics.scss';
@import './includes/blocks/tracking/tracking.scss';
@import './includes/blocks/map/map.scss';
@import './includes/blocks/partners/partners.scss';





//footer
@import './includes/blocks/footer/footer.scss';
