@import './includes/variables.scss';
@import './includes/mixins.scss';
@import './includes/reset.scss';

//header
@import './includes/blocks/header/header.scss';

// //main
// @import './includes/blocks/main/main.scss';

// //service
// @import './includes/blocks/service/service.scss';

// //popular
// @import './includes/blocks/popular/popular.scss';

// //product
// @import './includes/blocks/product/product.scss';

// //catalog
// @import './includes/blocks/catalog/catalog.scss';

// //benefits
// @import './includes/blocks/benefits/benefits.scss';

// //news
// @import './includes/blocks/news/news.scss';

// //reviews
// @import './includes/blocks/reviews/reviews.scss';

// //category
// @import './includes/blocks/category/categorySlider.scss';
// @import './includes/blocks/category/categoryFilter.scss';

// //productPage
// @import './includes/blocks/productPage/productPage.scss';
// @import './includes/blocks/productPage/productTabs.scss';

// //recommended
// @import './includes/blocks/recommended/recommended.scss';

// //about
// @import './includes/blocks/about/about.scss';

// //popup
// @import './includes/blocks/popup/popup.scss';

// //footer
// @import './includes/blocks/footer/footer.scss';
