.virtualTour {
  height: 100vh;
  padding: 105px 40px;
  padding: 0 !important;
  position: relative;
  @include max-fullhd {
    padding: 74px 40px;
  }
  @include max-xxl {
    padding: 70px 40px;
  }
  @include max-md {
    padding: 70px 20px;
  }
  &__video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    & video {
      max-width: 100%;
      width: 100%;
      object-fit: cover;
      height: 100%;
      &.virtualTour__video-desktop {
        @include max-l {
          display: none !important;
        }
      }
      &.virtualTour__video-mobile {
        display: none !important;
        @include max-l {
          display: block !important;
        }
      }
    }
    &.open video {
      object-fit: contain;
      height: 100vh !important;
      object-fit: cover;
    }
    & .play__btn {
      max-width: 270px;
      @include max-fullhd {
        max-width: 180px;
      }
      @include max-xxl {
        max-width: 100px;
      }
      @include max-lg {
        max-width: 50px;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    height: calc(100vh - 175px);
    position: relative;
    z-index: 1;
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 0;
  }
  &__toggle {
    border-radius: 75px;
    padding: 6px 11px;
    backdrop-filter: blur(35px);
    display: flex;
    align-items: center;
    pointer-events: all;
    @include max-fullhd {
      padding: 4px;
    }
    &-btn {
      color: #fff;
      font-weight: 600;
      font-size: 26px;
      line-height: 36px;
      padding: 21px 40px;
      border-radius: 55px;
      position: relative;
      cursor: pointer;
      @include max-fullhd {
        font-size: 18px;
        line-height: 24px;
        padding: 14px 25px;
      }
      @include max-xxl {
        font-size: 18px;
        line-height: 24px;
        padding: 9px 25px;
      }
      @include max-sm {
        font-size: 16px;
        line-height: 20px;
        padding: 9px 10px;
      }
      &.active {
        color: #0d0d0d;
        background-color: #fff;
      }
      // &:nth-child(2).active::after {
      //   content: "";
      //   background-image: url(../images/departments.jpg);
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;
      //   z-index: 6;
      // }
    }
  }
  &__link {
    cursor: pointer;
    pointer-events: all;
  }
}
