.virtualTour {
  height: 100vh;
  padding: 105px 40px;
  padding: 0 !important;
  position: relative;
  @include max-fullhd {
    padding: 74px 40px;
  }
  @include max-xxl {
    padding: 70px 40px;
  }
  @include max-md {
    padding: 70px 20px;
  }
  & .videoBlockWrapper {
    height: 100%;
  }
  &__video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    & video {
      max-width: 100%;
      width: 100%;
      object-fit: cover;
      height: 100%;
      &.virtualTour__video-desktop {
        @include max-l {
          display: none !important;
        }
      }
      &.virtualTour__video-mobile {
        display: none !important;
        @include max-l {
          display: block !important;
        }
      }
    }
    &.open video {
      object-fit: contain;
      height: 100vh !important;
      object-fit: cover;
    }
    & .play__btn {
      max-width: 270px;
      @include max-fullhd {
        max-width: 180px;
      }
      @include max-xxl {
        max-width: 100px;
      }
      @include max-lg {
        max-width: 50px;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    height: calc(100vh - 175px);
    position: relative;
    z-index: 1;
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 0;
  }
  &__toggle {
    border-radius: 75px;
    padding: 6px 11px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.15);
    display: grid;
    grid-template-columns: 1fr 1fr;
    pointer-events: all;
    width: 100%;
    max-width: 604px;
    height: 90px;
    @include max-fullhd {
      padding: 4px;
      max-width: 402px;
      height: 60px;
    }
    @include max-xxl {
      height: 50px;
    }
    @include max-sm {
      max-width: 290px;
      height: 52px;
      padding: 4px 5px;
      grid-template-columns: 1.2fr 1fr;
    }
    &-btn {
      color: #fff;
      font-weight: 600;
      font-size: 26px;
      line-height: 36px;
      border-radius: 55px;
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      cursor: pointer;
      @include max-fullhd {
        font-size: 18px;
        line-height: 24px;
      }
      @include max-xxl {
        font-size: 18px;
        line-height: 24px;
      }
      @include max-sm {
        font-size: 14px;
        line-height: 18px;
      }
      &.active {
        color: #0d0d0d;
        background-color: #fff;
      }
    }
  }
  &__link {
    cursor: pointer;
    pointer-events: all;
  }
}
