.virtualTour {
  height: 100vh;
  padding: 105px 40px;
  position: relative;
  @include max-bigScreen {
    padding: 74px 40px;
  }
  @include max-xxxl {
    padding: 70px 40px;
  }
  @include max-md {
    padding: 70px 20px;
  }
  &__video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    & video {
      max-width: 100%;
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
    & .play__btn {
      max-width: 270px;
      @include max-bigScreen {
        max-width: 180px;
      }
      @include max-xxxl {
        max-width: 100px;
      }
      @include max-lg {
        max-width: 50px;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 1;
    pointer-events: none;
  }
  &__toggle {
    border-radius: 75px;
    padding: 6px 11px;
    backdrop-filter: blur(35px);
    display: flex;
    align-items: center;
    pointer-events: all;
    @include max-bigScreen {
      padding: 4px;
    }
    &-btn {
      color: #fff;
      font-weight: 600;
      font-size: 26px;
      line-height: 36px;
      padding: 21px 24px;
      border-radius: 55px;
      cursor: pointer;
      @include max-bigScreen {
        font-size: 18px;
        line-height: 24px;
        padding: 14px 16px;
      }
      @include max-xxxl {
        font-size: 18px;
        line-height: 24px;
        padding: 9px 16px;
      }
      @include max-xxxl {
        font-size: 18px;
        line-height: 24px;
        padding: 9px 16px;
      }
      @include max-sm {
        font-size: 16px;
        line-height: 20px;
        padding: 9px 10px;
      }
      &.active {
        color: #0d0d0d;
        background-color: #fff;
      }
    }
  }
  &__link {
    cursor: pointer;
    pointer-events: all;
  }
}
