.virtualTour {
  height: 100vh;
  padding: 105px 40px;
  position: relative;
  &__video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    & video {
      max-width: 100%;
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
    & .play__btn {
      max-width: 270px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 1;
    pointer-events: none;
  }
  &__toggle {
    border-radius: 75px;
    padding: 6px 11px;
    backdrop-filter: blur(35px);
    display: flex;
    align-items: center;
    pointer-events: all;
    &-btn {
      color: #fff;
      font-weight: 600;
      font-size: 26px;
      line-height: 36px;
      padding: 21px 24px;
      border-radius: 55px;
      cursor: pointer;
      &.active {
        color: #0D0D0D;
        background-color: #fff;
      }
    }
  }
  &__link {
    cursor: pointer;
    pointer-events: all;
  }
}
