.manufacturingImagesSlider {
  & .product__slider {
    @include max-l {
      display: none;
    }
    &-images {
      display: grid;
    }
    &-images a:nth-child(n+5) {
      display: block
    }
    &_mobile {
      display: none;
      @include max-l {
        display: block;
        width: calc(100vw);
        left: 50%;
        margin-left: -50vw;
        position: relative;
      }
    }
  }
  & .owl-nav {
    bottom: 0;
    top: 0;
    width: 100%;
    @include max-l {
      display: none;
    }
  }
}
