.hero {
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  background-position-x: 40%;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
  }
  @include max-lg {
    background-position-x: 55%;
  }
  &__main-slider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    & .slick-arrow {
      width: 90px;
      height: 90px;
      @include max-fullhd {
        width: 60px;
        height: 60px;
      }
      @include max-xxl {
        width: 50px;
        height: 50px;
      }
      @include max-l {
        display: none !important;
      }
    }
    & .slick-dots {
      gap: 8px;
      position: absolute;
      z-index: 1050;
      bottom: 60px;
      left: 0;
      right: 0;
      margin: auto;
      width: max-content;
      display: none !important;
      @include max-fullhd {
      }
      @include max-xxl {
      }
      @include max-sm {
        display: flex !important;
      }
      & li {
        width: 20px;
        height: 4px;
        border-radius: 23px;
        background-color: #a3a3a3;
        cursor: pointer;
        pointer-events: all;
        position: relative;
        & button {
          font-size: 0;
          line-height: 0;
        }
        &::after {
          @include max-sm {
            content: '';
            position: absolute;
            inset: 0;
            width: 0%;
            background: #fff;
            border-radius: 23px;
          }
        }
        &.slick-active::after {
          @include max-sm {
            width: 100%;
            transition: width var(--slide-progress-time) linear;
          }
        }
      }
    }
    &-nav-additional {
      &-wrapper {
      }

      display: flex;
      flex-direction: column;
      color: #fff;
      height: 160px;
      overflow: hidden;
      position: absolute;
      left: 240px;
      bottom: 90px;
      z-index: 5;
      @include max-fullhd {
        left: 160px;
      }
      @include max-xxl {
        left: 100px;
      }
      @include max-l {
        left: 20px;
      }
      @include max-sm {
        display: none;
      }
      & .hero__title-misc {
        font-size: 24px;
        line-height: 33px;
        color: #cbcbcb;
        padding: 10px 36px;
        @include max-fullhd {
          font-size: 16px;
          line-height: 22px;
        }
      }
      & .slick-track {
        display: flex;
        flex-direction: column;
      }
      & .slick-list {
        // height: 160px !important;
        overflow: hidden;
        // margin-top: -58px;
        @include max-fullhd {
          // height: 130px !important;
          // overflow: hidden;
          margin-top: 0;
        }
      }
      & .slick-slide {
        // position: relative;
        // overflow: visible;
        // height: auto !important;
        // padding: 20px 0;
        width: auto !important;
        &:not(.slick-active) {
          // visibility: hidden;
        }
        &.slick-active {
          // visibility: visible;
        }
      }
      &::before {
        content: '';
        position: absolute;
        left: 0; /* регулируй */
        width: 4px;
        height: 25px;
        background: #a3a3a3;
        z-index: 10;
        border-radius: 23px;
        top: 10px;
        bottom: 0;
        margin: auto;
        @include max-fullhd {
          top: -20px;
          height: 20px;
        }
        @include max-sm {
          // display: none;
        }
      }
      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 70px;
        width: 4px;
        height: 25px;
        background: #fff;
        z-index: 11;
        animation: none;
        @include max-fullhd {
          top: 60px;
          height: 20px;
        }
        @include max-sm {
          // display: none;
        }
      }

      &.do-progress::after {
        animation: slideProgressFill 30s linear forwards;
        top: 75px;
        border-radius: 23px;
        max-height: 25px;
        @include max-fullhd {
          max-height: 20px;
          top: 60px;
        }
      }

      & .slick-center .hero__title-misc {
        font-size: 30px;
        line-height: 42px;
        color: #fff;
        @include max-fullhd {
          font-size: 20px;
          line-height: 28px;
        }
      }
      & .slick-list {
        padding: 0 !important;
        // padding-top: 10px;
        // height: 100% !important;
        // max-height: 180px;
      }
      & .slick-slide {
        // margin: 10px 0;
        cursor: pointer;
      }
    }
    & img {
      height: 100vh;
      object-fit: cover;
    }
  }
  &__content {
    display: flex;
    align-items: flex-start;
    height: 100vh;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: 1;
    pointer-events: none;
  }
  &__group {
    margin-top: 225px;
    @include max-fullhd {
      margin-top: 150px;
    }
    @include max-lg {
      margin-top: 130px;
    }
    & h1 {
      color: #fff;
      font-weight: 700;
      font-size: 72px;
      line-height: 84px;
      text-align: center;
      @include max-fullhd {
        font-size: 48px;
        line-height: 58px;
      }
      @include max-xxl {
        font-size: 32px;
        line-height: 40px;
      }
      @include max-sm {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
  &__nav {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 30px;
    margin-top: 36px;
    @include max-fullhd {
      margin-top: 24px;
      gap: 20px;
    }
    @include max-sm {
      margin-top: 10px;
      gap: 10px;
    }
    &-btn {
      font-size: 24px;
      line-height: 33px;
      border-radius: 50px;
      padding: 14px 75px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      cursor: pointer;
      pointer-events: all;
      @include max-fullhd {
        font-size: 16px;
        line-height: 22px;
        padding: 9px 50px;
      }
      @include max-sm {
        font-size: 14px;
        line-height: 18px;
        padding: 11px 25px;
      }
      &:hover {
        transform: scale(1.05);
        transition: 0.1s;
      }
    }
    & a {
      background-color: #00000033;
      -webkit-backdrop-filter: blur(15px);
      backdrop-filter: blur(15px);
      color: #fff;
      border: 1px solid transparent;
    }
    & button {
      background-color: #fff;
      color: #0d0d0d;
      border: 1px solid #cbcbcb;
    }
  }
  &__desc {
    font-weight: 600;
    color: #cbcbcb;
    margin-bottom: 30px;
    text-align: center;
    @include max-fullhd {
      margin-bottom: 20px;
    }
    @include max-sm {
      font-size: 14px;
      line-height: 20px;
    }
  }

  & .main__group-btns {
    @include max-sm {
      margin-right: 0;
      right: 5px;
      margin-left: auto;
    }
    &.scrolled {
      @include max-sm {
        right: 20px;
      }
    }
  }
  & .main__group-btn {
    max-width: 90px;
    @include max-fullhd {
      max-width: 60px;
    }
    @include max-xxl {
      max-width: 50px;
    }
    @include max-l {
      max-width: 50px;
    }
    @include max-lg {
    }
    @include max-sm {
      max-width: 48px;
      transition: none !important;
    }
    &:hover {
      width: 420px;
      max-width: 420px;
      transition: 0.5s;
      @include max-fullhd {
        width: 280px;
        height: 60px;
      }
      @include max-xxl {
        height: 50px;
        width: 255px;
      }
      @include max-sm {
        width: 48px;
        height: 48px;
      }
    }
  }
}
@keyframes slideProgressFill {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
