.production {
  & .template1__image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 15px;
    height: max-content;
    @include max-fullhd {
      gap: 10px;
    }
    & a {
      height: 100%;
      position: relative;
    width: 100%;
    padding-top: 56.25%; /* 9 / 16 * 100 */
    overflow: hidden;
    }
    & img {
      height: 100%;
      object-fit: cover;
      position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
      // max-height: 315px;
      @include max-fullhd {
        // max-height: 210px;
      }
      @include max-xxl {
        // max-height: 165px;
      }
      @include max-l {
        // max-height: 273px;
      }
      @include max-sm {
        // max-height: 94px;
      }
    }
  }
  & .template1__list-item {
    font-weight: 400;
    font-size: 28px;
    line-height: 44px;
    @include max-fullhd {
      font-size: 18px;
      line-height: 30px;
    }
    @include max-sm {
      font-size: 16px;
      line-height: 22px;
    }
  }
}
