.production {
  & .template1__image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 15px;
    @include max-fullhd {
      gap: 10px;
    }
    & a {
      height: 100%;
    }
    & img {
      height: 100%;
      object-fit: cover;
      // max-height: 315px;
      @include max-fullhd {
      // max-height: 210px;
    }
      @include max-xxl {
      // max-height: 165px;
    }
      @include max-l {
      // max-height: 273px;
    }
      @include max-sm {
      // max-height: 94px;
    }
    }
  }
}
