.socials {
    display: flex;
    display: none;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    &__icon {
      & img {
        width: 42px;
        height: 42px;
        @include max-fullhd {
          width: 28px;
          height: 28px;
        }
      }
    }
}