.proZavod {
  &__content {
  }
  &__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 75px;
    margin-top: 150px;
    @include max-bigScreen {
      gap: 50px;
      margin-top: 100px;
    }
    @include max-xl {
      gap: 20px;
      margin-top: 50px;
    }
    @include max-md {
      grid-template-columns: 1fr;
    }
  }
  &__info {
    &-title {
      margin-bottom: 40px;
      font-weight: 700;
      @include max-bigScreen {
        margin-bottom: 26px;
      }
      @include max-xxxl {
        margin-bottom: 50px;
      }
      @include max-lg {
        margin-bottom: 30px;
      }
      @include max-sm {
        margin-bottom: 20px;
      }
    }
    &-box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 75px;
      @include max-bigScreen {
        gap: 50px;
      }
      @include max-lg {
        gap: 20px;
      }
      @include max-sm {
        gap: 20px;
      }
      &__item {
        display: flex;
        flex-direction: column;
        gap: 15px;
        @include max-bigScreen {
          gap: 10px;
        }
      }
      &__value {
        font-weight: 700;
        font-size: 72px;
        line-height: 84px;
        color: #0d0d0d;
        @include max-bigScreen {
          font-size: 48px;
          line-height: 56px;
        }
        @include max-xxxl {
          font-size: 32px;
          line-height: 40px;
        }
        @include max-xl {
        }
        @include max-sm {
          font-size: 20px;
          line-height: 24px;
        }
        & span {
            color: #F46D06;
        }
      }
      &__location {
      }
    }
  }
}
