.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }
  &__logo {
    & img {
      max-width: 360px;
      @include max-bigScreen {
        max-width: 240px;
      }
    }
  }
  & .menu {
    &__list {
      display: flex;
      align-items: center;
      gap: 60px;
      @include max-bigScreen {
        gap: 40px;
      }
      &-item {
      }
      &-link {
        font-size: 24px;
        line-height: 30px;
        color: #ffffff;
        @include max-bigScreen {
          font-size: 16px;
        }
      }
    }
  }

  &__tracking {
    display: flex;
    align-items: center;
    background-color: #0d0d0d;
    border-radius: 55px;
    cursor: pointer;
    & img {
      width: 75px;
      height: 75px;
      @include max-bigScreen {
        width: 50px;
        height: 50px;
      }
    }
    &-text {
      color: #fff;
      padding: 0 45px;
      @include max-bigScreen {
        padding: 0 34px;
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
  & .burger {
    display: none;
    @include max-xxl {
      display: block;
      width: max-content;
    }
    & img {
      @include max-xxl {
        width: 48px;
        height: 48px;
      }
    }
  }
}
