.header {
  background-color: #ccc;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }
  &__logo {
    & img {
      max-width: 360px;
      max-height: 50px;
    }
  }
  & .menu {
    &__list {
      display: flex;
      align-items: center;
      gap: 60px;
      &-item {
      }
      &-link {
      }
    }
  }

  &__tracking {
    display: flex;
    align-items: center;
    gap: 30px;
    & img {
      width: 50px;
      height: 50px;
    }
    &-text {
    }
  }
}
