.projectAuditExpertise {
  &__content {
  }
  &__desc {
  }
  &__slider {
    margin-top: 75px;
    @include max-fullhd {
      margin-top: 50px;
    }
    @include max-l {
      margin-top: 20px;
    }
  }
  &__slide {
    &-group {
      display: flex;
      flex-direction: column;
      gap: 75px;
      @include max-fullhd {
        gap: 50px;
      }
      @include max-l {
        gap: 20px;
      }
    }
  }

  &__imgbox {
    position: relative;
    &::after {
      content: "";
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 37.22%, rgba(0, 0, 0, 0.7) 103.98%);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
    & img {
      display: block;
    }
    & span {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      bottom: 30px;
      color: #fff;
      display: block;
      width: max-content;
      z-index: 2;
      @include max-fullhd {
        bottom: 20px;
      }
      @include max-sm {
        bottom: 10px;
      }
    }
  }
  & .charBox__region {
  }
}
