.projectAuditHow {
  &__desc {
    font-weight: 400;
    font-size: 26px;
    line-height: 44px;
    color: #4d4d4d;
    @include max-fullhd {
      font-size: 18px;
      line-height: 30px;
    }
    @include max-xxl {
      font-size: 16px;
      line-height: 22px;
    }
    @include max-ip {
      font-size: 14px;
      line-height: 20px;
    }
  }
  &__steps {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 75px;
    gap: 75px;
    @include max-fullhd {
      margin-top: 50px;
      gap: 50px;
    }
    @include max-l {
      margin-top: 20px;
      gap: 20px;
    }
    @include max-md {
      grid-template-columns: 1fr;
    }
  }
}
