.projectAuditHow {
  &__steps {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 75px;
    gap: 75px;
    @include max-fullhd {
      margin-top: 50px;
      gap: 50px;
    }
    @include max-l {
      margin-top: 20px;
      gap: 20px;
    }
    @include max-md {
      grid-template-columns: 1fr;
    }
  }
}
