.projectAuditExpertise {
  & .container {
    @include max-sm {
      padding: 0 !important;
    }
  }
  & .sectionTitle {
    @include max-sm {
      padding: 0 15px;
    }
  }
  &__desc {
    @include max-sm {
      padding: 0 15px;
    }
  }
  &__slider {
    margin-top: 75px;
    padding: 0 105px;
    position: relative;
    @include max-fullhd {
      margin-top: 50px;
      padding: 0 70px;
    }
    @include max-xxl {
      padding: 0 60px;
    }
    @include max-l {
      margin-top: 82px;
      padding: 0;
    }
    & > .owl-stage-outer {
      // height: max-content !important;
    }
    & > .owl-stage-outer > .owl-stage > .owl-item {
      height: max-content !important;
    }
    & .owl-nav {
      padding: 0 120px;
      margin: 0 auto;

      @include max-fullhd {
        padding: 0 80px;
      }
      @include max-xxl {
        padding: 0 40px;
      }
      @include max-xlmidle {
        padding: 0 20px;
      }
      @include max-l {
        position: absolute !important;
        top: -68px !important;
        left: auto !important;
        padding: 0;
      }
      @include max-sm {
        right: 15px;
      }
    }
  }
  &__slide {
    display: grid;
    grid-template-columns: 1fr;
    gap: 75px;
    touch-action: none;
    @include max-fullhd {
      gap: 50px;
    }
    @include max-l {
      gap: 20px;
    }
    @include max-lg {
      touch-action: pan-y;
    }
    
    &-group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
      @include max-fullhd {
        gap: 10px;
      }
    }
    &-top {
      @include max-sm {
        grid-template-columns: 1fr;
        width: calc(100vw);
        left: 50%;
        margin-left: -50vw;
        position: relative;
      }
      & .owl-stage-outer {
        height: 100% !important;
      }
      & .owl-stage {
        @include max-sm {
              margin-left: -20px;
        }
      }
    }
    &-bottom {
      @include max-l {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
      }
      @include max-sm {
        padding: 0 15px;
      }
    }
    & .product__info-desc__btn {
      display: none;
      @include max-l {
        display: block;
        margin-top: 20px;
      }
    }
  }

  &__imgbox {
    position: relative;
    touch-action: auto;
    &::after {
      content: '';
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 37.22%, rgba(0, 0, 0, 0.7) 103.98%);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
    & img {
      display: block;
    }
    & span {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      bottom: 30px;
      color: #fff;
      display: block;
      width: max-content;
      z-index: 2;
      @include max-fullhd {
        bottom: 20px;
        font-size: 20px;
        line-height: 24px;
      }
      @include max-xxxl {
        font-size: 18px;
        line-height: 26px;
      }
      @include max-sm {
        bottom: 10px;
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
  & .charBox__region {
    color: #4d4d4d;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    @include max-fullhd {
      font-size: 16px;
      line-height: 22px;
    }
    @include max-sm {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
