.quote {
    display: block;
  width: 42px;
  height: 34px;
  @include max-fullhd {
    width: 28px;
    height: 22px;
  }
  @include max-sm {
    width: 17px;
    height: 14px;
  }
  &__open {
    margin-left: 0;
    margin-right: auto;
  }
  &__close {
    margin-right: 0;
    margin-left: auto;
  }
}
