$ip: 375px;
// $sm: 375px;
$sm: 576px;
$col: 610px;
$md: 768px;
$tab: 850px;
$lg: 992px;
$l: 1024px;
$xl: 1280px;
$xlmidle: 1350px;
$xxl: 1440px;
$xxxl: 1650px;
$fullhd: 1920px;
$preBigScreen: 2300px;
$bigScreen: 2600px;


@mixin phoneLandscape {
  @media
    (orientation: landscape)
    and (hover: none)
    and (pointer: coarse) {
    @content;
  }
}


@mixin landscape {
  @media (orientation: landscape) {
    @content;
  }
}

@mixin portrait {
  @media (orientation: portrait) {
    @content;
  }
}

@mixin ip {
  @media (min-width: #{$ip}) {
    @content;
  }
}
@mixin iph {
  @media (min-width: #{$iph}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$sm}) {
    @content;
  }
}

@mixin col {
  @media (min-width: #{$col}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$md}) {
    @content;
  }
}

@mixin tab {
  @media (min-width: #{$tab}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$lg}) {
    @content;
  }
}
@mixin l {
  @media (min-width: #{$l}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$xl}) {
    @content;
  }
}

@mixin xlmidle {
  @media (min-width: #{$xlmidle}) {
    @content;
  }
}
@mixin xxl {
  @media (min-width: #{$xxl}) {
    @content;
  }
}
@mixin xxxl {
  @media (min-width: #{$xxxl}) {
    @content;
  }
}
@mixin fullhd {
  @media (min-width: #{$fullhd}) {
    @content;
  }
}
@mixin min-preBigScreen {
  @media (min-width: #{$preBigScreen}) {
    @content;
  }
}
@mixin min-bigScreen {
  @media (min-width: #{$bigScreen}) {
    @content;
  }
}

@mixin max-ip {
  @media (max-width: #{$ip}) {
    @content;
  }
}
@mixin max-iph {
  @media (max-width: #{$iph}) {
    @content;
  }
}

@mixin max-sm {
  @media (max-width: #{$sm}) {
    @content;
  }
}

@mixin max-col {
  @media (max-width: #{$col}) {
    @content;
  }
}

@mixin max-md {
  @media (max-width: #{$md}) {
    @content;
  }
}

@mixin max-tab {
  @media (max-width: #{$tab}) {
    @content;
  }
}

@mixin max-lg {
  @media (max-width: #{$lg}) {
    @content;
  }
}
@mixin max-l {
  @media (max-width: #{$l}) {
    @content;
  }
}

@mixin max-xl {
  @media (max-width: #{$xl}) {
    @content;
  }
}
@mixin max-xlmidle {
  @media (max-width: #{$xlmidle}) {
    @content;
  }
}
@mixin max-xxl {
  @media (max-width: #{$xxl}) {
    @content;
  }
}
@mixin max-xxxl {
  @media (max-width: #{$xxxl}) {
    @content;
  }
}
@mixin max-fullhd {
  @media (max-width: #{$fullhd}) {
    @content;
  }
}
@mixin max-bigScreen {
  @media (max-width: #{$bigScreen}) {
    @content;
  }
}

@mixin hover {
  &:hover,
  &:focus,
  &:active,
  &:focus:active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus,
  &.hover {
    @content;
  }
}
