html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  overflow-x: hidden;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  font-size: 1rem;
  position: relative;
  background-color: #f0f0ef;
  scrollbar-gutter: stable;
  -webkit-text-size-adjust: 100%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
input {
  margin: 0;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img,
video {
  width: 100%;
  height: 100%;
}
video {
  cursor: pointer;
}
a {
  text-decoration: none;
  text-transform: initial;
  color: unset;
  &:focus {
    color: #c17465;
  }
}
b {
  font-weight: 700;
}
button {
  border: none;
  padding: 0;
  background: none;
}
.form-control {
  padding: 0;
}
.hide {
  display: none !important;
}
.d__block {
  display: block !important;
}
.d__flex {
  display: flex !important;
}
.revert {
  transform: rotateZ(180deg);
}
.revert45 {
  transform: rotateZ(45deg);
}
.revert180 {
  transform: rotateZ(180deg);
}
.container {
  width: 100%;
  margin: auto;
  padding: 0 120px;

  @include max-fullhd {
    padding: 0 80px;
  }
  @include max-xxl {
    padding: 0 40px;
  }
  @include max-xlmidle {
    padding: 0 20px;
  }
  @include max-sm {
    padding: 0 15px;
  }
}

.line {
  height: 1px;
  width: 100%;
  background-color: #cbcbcb;
  &_vertical {
    height: -webkit-fill-available;
    width: 1px;
  }
}
.custom-button {
  font-family: 'Open Sans', sans-serif;
  background: #f46d06;
  border-radius: 75px;
  color: #fff;
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  text-align: center;
  max-width: 525px;
  width: 100%;
  padding: 27px 0;
  display: block;
  cursor: pointer;
  transition: 0.1s;
  @include max-fullhd {
    max-width: 350px;
    font-size: 18px;
    line-height: 24px;
    padding: 18px 20px;
    border-radius: 50px;
  }
  @include max-xxl {
    padding: 13px 20px;
  }
  @include max-sm {
    font-size: 16px;
    line-height: 22px;
    max-width: 290px;
  }
  &:hover {
    transform: scale(1.05);
    transition: 0.1s;
  }
  &_white {
    background-color: #fff;
    color: #0d0d0d;
    border: 1px solid #cbcbcb;
  }
}
.row-rewerse {
  flex-direction: row-reverse;
}
.opacity0 {
  opacity: 0;
}
.catalog__active {
  margin-top: 11px !important;
}
::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0);
}
.sectionTitle {
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  color: #0d0d0d;
  margin-bottom: 75px;
  @include max-fullhd {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 50px;
  }
  @include max-xxl {
    font-size: 32px;
    line-height: 40px;
  }
  @include max-l {
    margin-bottom: 20px;
  }
  @include max-sm {
    font-size: 20px;
    line-height: 24px;
  }
}
section {
  padding: 150px 0;
  // background-color: #fff;
  @include max-fullhd {
    padding: 100px 0;
  }
  @include max-l {
    padding: 50px 0;
  }
}
.home {
  & section {
    border-top: 1px solid #cbcbcb;
  }
}
.btn__next {
  width: 13px;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
  margin: auto;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
}
select::-ms-expand {
  display: none;
}
.text {
  font-size: 24px;
}
.text_simple {
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  color: #0d0d0d;
  @include max-fullhd {
    font-size: 20px;
    line-height: 28px;
  }
  @include max-xxl {
    font-size: 18px;
    line-height: 26px;
  }
  @include max-lg {
    font-size: 16px;
    line-height: 22px;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 5;
}
.videoBlock {
  position: relative;
  // height: 100%;
}
.play__btn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}
.fancybox__button--zoom,
.fancybox__button--slideshow,
.fancybox__button--fullscreen,
.fancybox__button--thumbs,
.fancybox__counter {
  display: none;
}
.fancybox__thumbs .carousel__slide .fancybox__thumb::after {
  border-color: #f46d06;
  border-width: 3px;
}
.fancybox__thumbs {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  z-index: 10;
  right: 0;
  left: 0;
  padding: 45px 0;
  transition: height 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
  pointer-events: none;
  @include max-fullhd {
    padding: 30px 0;
  }
  &.is-collapsed {
    height: 50px !important;
    padding: 10px 0;

    .carousel__viewport .carousel__slide {
      opacity: 0;
      pointer-events: none;
    }
  }
}
.fancybox__slide {
  padding: 0;
}
.fancybox__content {
  width: 100vw !important;
  height: 100%;
}
.fancybox__nav .carousel__button.is-prev {
  left: 30px;
  @include max-fullhd {
    left: 20px;
  }
  @include max-l {
    left: 15px;
  }
}
.fancybox__nav .carousel__button.is-next {
  right: 30px;
  @include max-fullhd {
    right: 20px;
  }
  @include max-l {
    right: 15px;
  }
}
.fancybox__nav .carousel__button {
  border-radius: 50%;
  background-color: #0000004d;
  width: 90px;
  height: 90px;
  @include max-fullhd {
    width: 60px;
    height: 60px;
  }
  @include max-xxl {
    width: 50px;
    height: 50px;
  }
  @include max-l {
    width: 48px;
    height: 48px;
  }
  & svg {
    height: 35px;
    width: 35px;
    @include max-fullhd {
      width: 30px;
      height: 30px;
    }
    @include max-xxl {
      width: 26px;
      height: 26px;
    }
  }
  &:hover {
    transform: scale(1.1) translateY(-40px);
    transition: 0.5s;
    @include max-fullhd {
      transform: scale(1.1) translateY(-28px);
    }
    @include max-xxl {
      transform: scale(1.1) translateY(-22px);
    }
    @include max-l {
      transform: scale(1.1) translateY(-21px);
    }
  }
}
.fancybox__backdrop {
  background: rgba(0, 0, 0, 0.9);
}
.fancybox__slide.has-video .fancybox__content {
  width: 100% !important;
  height: 100% !important;
  width: 100vw !important;
  height: 100vh !important; /* 16:9 */
  max-width: 100vw;
  max-height: 100vh;
}
.fancybox__iframe {
  width: 100vw !important;
  height: 100vh !important;
}
.fancybox__button--close {
  background-image: url(../images/close_white.svg);
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: cover;
  top: 53px;
  right: 53px;
  position: relative;
  @include max-fullhd {
    width: 21px;
    height: 21px;
    top: 35px;
    right: 35px;
  }
  @include max-l {
    top: 25px;
    right: 25px;
  }
  &:hover {
    transform: scale(1.3);
    transition: 0.3s;
  }
}
.fancybox__button--close svg {
  display: none;
}
.text-36 {
  font-size: 36px;
  line-height: normal;
  @include max-fullhd {
    font-size: 24px;
  }
  @include max-lg {
    font-size: 20px;
  }
}
.text-slogan {
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  color: #cbcbcb;
  max-width: 1200px;
  margin: 0 auto;
  @include max-fullhd {
  }
  @include max-fullhd {
    font-size: 48px;
    line-height: 56px;
    max-width: 802px;
  }
  @include max-xxl {
    font-size: 32px;
    line-height: 40px;
    max-width: 535px;
  }
  @include max-l {
    font-size: 24px;
    line-height: 32px;
    max-width: 420px;
  }
  @include max-sm {
    font-size: 20px;
    line-height: 24px;
  }
}
.product__info-desc__btn {
  display: none;
  width: max-content;
  margin-right: 0;
  margin-left: auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #f46d06;
  cursor: pointer;
  @include max-l {
    display: block;
  }
}
.select-wrapper {
  position: relative;
  cursor: pointer;
  &.open::after {
    transform: rotate(-180deg);
    transition: all ease-in-out 0.3s;
  }
  &::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='14' viewBox='0 0 24 14' fill='none'%3E%3Cpath d='M1.12461 1.12505L11.9246 11.925L22.7246 1.12505' stroke='%230D0D0D' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 24px;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: all ease-in-out 0.3s;
    @include max-fullhd {
      width: 24px;
      height: 24px;
      right: 18px;
    }
  }
  & input {
    cursor: pointer;
    pointer-events: none;
  }
}
.imgBox {
  position: relative;
}
.imgBox img {
  height: 100%;
}
.imgBox:hover::after {
  content: '';
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  pointer-events: none;
  cursor: pointer;
  @include max-xl {
    display: none;
  }
}
.imgBox:hover {
  cursor: pointer;
}
.imgBox:hover::before {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48' fill='none'%3E%3Crect x='0.5' y='0.5' width='47' height='47' rx='23.5' fill='white'/%3E%3Crect x='0.5' y='0.5' width='47' height='47' rx='23.5' stroke='%23CBCBCB'/%3E%3Cpath d='M23.9987 15.833V32.1663M15.832 23.9997H32.1654' stroke='%230D0D0D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  position: absolute;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 4;
  pointer-events: none;
  cursor: pointer;
  @include max-xl {
    display: none;
  }
}
.fancybox__image {
  position: absolute;
  width: 100vw !important;
  height: 100vh !important;
  top: 0;
  left: 0;
  object-fit: cover !important;
  @include max-l {
    position: relative;
    width: 100vw !important;
    height: initial !important;
    object-fit: contain !important;
  }
}

.owl-nav button {
  &:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
}
.owl-nav .owl-prev {
  &:hover {
    transform: scale(1.1) rotate(180deg);
    transition: 0.5s;
  }
}

.fancybox__thumbs.is-hidden {
  height: 0 !important;
  opacity: 0;
}
.fancyThumbBtn {
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  margin: auto;
  z-index: 5;
  width: 30px;
  height: 10px;
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='12' viewBox='0 0 21 12' fill='none'%3E%3Cpath d='M19.125 10.125L10.125 1.125L1.125 10.125' stroke='%23F46D06' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  width: 20px;
  height: 11px;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 15px;
  margin: auto;
  @include max-fullhd {
    top: 10px;
  }
}

.fancybox__thumb {
  background-size: contain;
  background-color: transparent;
  padding-top: 56.25%;
}

.fancybox__thumbs .carousel__slide {
  width: 270px;
  pointer-events: all;
  padding: 0;
  @include max-fullhd {
    width: 180px;
  }
}

.fancyThumbBtn {
  position: fixed;
  left: 0;
  right: 0;
  top: auto;
  bottom: 220px;
  margin: auto;
  z-index: 1050;
  width: 40px;
  height: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  pointer-events: all;
  @include max-fullhd {
    bottom: 140px;
  }
  &.opened {
    bottom: 30px;
  }
  svg {
    transition: transform 0.3s ease;
  }

  &:hover svg {
    opacity: 0.7;
    transform: scale(1.5);
  }
}
.fancybox__container {
  // pointer-events: none;
  pointer-events: all;
}
.fancybox__image {
  transform: scale(1) !important;
}

.hiddenImagesBlock {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 3;
}

.cf-captcha-wrapper {
  display: none; /* по умолчанию скрываем */
  /* если нужно — можно добавить стили, чтобы капча была в нужном месте */
}
.cf-captcha-wrapper.active {
  display: block;
}

.cf-turnstile {
  min-height: 0 !important;
  height: 0 !important;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.cf-turnstile.suspicious {
  height: auto !important;
  opacity: 1;
}
.input-wrapper {
  position: relative;
}
.input-wrapper img {
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 33px;
  height: 33px;
  cursor: pointer;
  @include max-fullhd {
    width: 22px;
    height: 22px;
  }
}
input[type="password"] {
  // font-family: 'Open Sans', sans-serif;
  color: #A3A3A3;
  -webkit-text-security: circle;
  border-radius: 10px;
}
.input-error {
    border-color: #ff4d4f;
}

.password-error {
    color: #ff4d4f;
    font-size: 13px;
    margin-top: 6px;
}
