html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  font-size: 1rem;
  position: relative;
  background-color: #f0f0ef;
  scrollbar-gutter: stable;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img,
video {
  width: 100%;
  height: 100%;
}
video {
  cursor: pointer;
}
a {
  text-decoration: none;
  text-transform: initial;
  color: unset;
  &:focus {
    color: #c17465;
  }
}
b {
  font-weight: 700;
}
button {
  border: none;
  padding: 0;
  background: none;
}
.form-control {
  padding: 0;
}
.hide {
  display: none !important;
}
.d__block {
  display: block !important;
}
.d__flex {
  display: flex !important;
}
.revert {
  transform: rotateZ(180deg);
}
.revert45 {
  transform: rotateZ(45deg);
}
.revert180 {
  transform: rotateZ(180deg);
}
.container {
  width: 100%;
  margin: auto;
  padding: 0 120px;

  @include max-fullhd {
    padding: 0 80px;
  }
  @include max-xxl {
    padding: 0 40px;
  }
  @include max-xlmidle {
    padding: 0 20px;
  }
}

.line {
  height: 1px;
  width: 100%;
  background-color: #cbcbcb;
  &_vertical {
    height: -webkit-fill-available;
    width: 1px;
  }
}
.custom-button {
  font-family: 'Open Sans', sans-serif;
  background: #f46d06;
  border-radius: 75px;
  color: #fff;
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;
  text-align: center;
  max-width: 525px;
  width: 100%;
  padding: 27px 0;
  display: block;
  cursor: pointer;
  transition: 0.1s;
  @include max-fullhd {
    max-width: 350px;
    font-size: 18px;
    line-height: 24px;
    padding: 18px 20px;
    border-radius: 50px;
  }
  @include max-xxl {
    padding: 13px 20px;
  }
  @include max-sm {
    font-size: 16px;
    line-height: 22px;
    max-width: 290px;
  }
  &:hover {
    transform: scale(1.03);
    transition: 0.1s;
  }
  &_white {
    background-color: #fff;
    color: #0d0d0d;
    border: 1px solid #cbcbcb;
  }
}
.row-rewerse {
  flex-direction: row-reverse;
}
.opacity0 {
  opacity: 0;
}
.catalog__active {
  margin-top: 11px !important;
}
::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0);
}
.sectionTitle {
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  color: #0d0d0d;
  margin-bottom: 75px;
  @include max-fullhd {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 50px;
  }
  @include max-xxl {
    font-size: 32px;
    line-height: 40px;
  }
  @include max-l {
    margin-bottom: 20px;
  }
  @include max-sm {
    font-size: 20px;
    line-height: 24px;
  }
}
section {
  padding: 150px 0;
  // background-color: #fff;
  @include max-fullhd {
    padding: 100px 0;
  }
  @include max-l {
    padding: 50px 0;
  }
}
.home {
  & section {
    border-top: 1px solid #cbcbcb;
  }
}
.btn__next {
  width: 13px;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
  margin: auto;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
}
select::-ms-expand {
  display: none;
}
.text {
  font-size: 24px;
}
.text_simple {
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  color: #0d0d0d;
  @include max-fullhd {
    font-size: 20px;
    line-height: 28px;
  }
  @include max-xxl {
    font-size: 18px;
    line-height: 26px;
  }
  @include max-lg {
    font-size: 16px;
    line-height: 22px;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 5;
}
.videoBlock {
  position: relative;
  height: 100%;
}
.play__btn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}
.fancybox__button--zoom,
.fancybox__button--slideshow,
.fancybox__button--fullscreen,
.fancybox__button--thumbs,
.fancybox__counter {
  display: none;
}
.fancybox__thumbs .carousel__slide .fancybox__thumb::after {
  border-color: #f46d06;
  border-width: 3px;
}
.fancybox__thumbs .carousel__slide.is-nav-selected .fancybox__thumb::before {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='12' viewBox='0 0 21 12' fill='none'%3E%3Cpath d='M19.125 10.125L10.125 1.125L1.125 10.125' stroke='%23F46D06' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  width: 18px;
  height: 9px;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: -25px;
  margin: auto;
  @include max-fullhd {
    top: -17px;
    width: 12px;
    height: 6px;
  }
}
.fancybox__thumbs {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  z-index: 10;
  right: 0;
  left: 0;
}
.fancybox__thumbs .carousel__slide {
  padding: 45px 0;
  width: 270px;
  @include max-fullhd {
    padding: 30px 0;
    width: 180px;
  }
  @include max-xxl {
    padding: 45px 0;
  }
  @include max-lg {
    padding: 45px 0;
  }
}
.fancybox__slide {
  padding: 0;
}
.fancybox__content {
  width: 100%;
  height: 100%;
}
.fancybox__nav .carousel__button {
  border-radius: 50%;
  background-color: #0000004d;
}
.fancybox__backdrop {
  background: rgba(0, 0, 0, 0.9);
}
.fancybox__slide.has-video .fancybox__content {
  width: 100% !important;
  height: 100% !important;
  width: 100vw !important;
  height: 100vh !important; /* 16:9 */
  max-width: 100vw;
  max-height: 100vh;
}
.fancybox__iframe {
  width: 100vw !important;
  height: 100vh !important;
}
.fancybox__button--close {
  background-image: url(../images/close_white.svg);
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: cover;
  top: 45px;
  right: 45px;
  position: relative;
  @include max-fullhd {
    width: 21px;
    height: 21px;
  }
}
.fancybox__button--close svg {
  display: none;
}
.text-36 {
  font-size: 36px;
  line-height: normal;
  @include max-fullhd {
    font-size: 24px;
  }
  @include max-lg {
    font-size: 20px;
  }
}
.text-slogan {
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  color: #cbcbcb;
  max-width: 1200px;
  margin: 0 auto;
  @include max-fullhd {
  }
  @include max-fullhd {
    font-size: 48px;
    line-height: 56px;
    max-width: 802px;
  }
  @include max-xxl {
    font-size: 32px;
    line-height: 40px;
    max-width: 535px;
  }
  @include max-l {
    font-size: 24px;
    line-height: 32px;
    max-width: 420px;
  }
  @include max-sm {
    font-size: 20px;
    line-height: 24px;
  }
}
.product__info-desc__btn {
  display: none;
  width: max-content;
  margin-right: 0;
  margin-left: auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #f46d06;
  cursor: pointer;
  @include max-l {
    display: block;
  }
}
