html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  font-size: 1rem;
  position: relative;
  background-color: #f0f0ef;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img,
video {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  text-transform: initial;
  color: unset;
  &:focus {
    color: #c17465;
  }
}
b {
  font-weight: 700;
}
button {
  border: none;
  padding: 0;
  background: none;
}
.form-control {
  padding: 0;
}
.hide {
  display: none !important;
}
.d__block {
  display: block !important;
}
.d__flex {
  display: flex !important;
}
.revert {
  transform: rotateZ(180deg);
}
.revert45 {
  transform: rotateZ(45deg);
}
.revert180 {
  transform: rotateZ(180deg);
}
.container {
  width: 100%;
  margin: auto;
  padding: 0 120px;

  @include max-bigScreen {
    padding: 0 80px;
  }
  @include max-xxxl {
    padding: 0 40px;
  }
  @include max-xlmidle {
    padding: 0 20px;
  }
}
.owl-stage-outer {
  overflow: hidden;
}
.owl-stage {
  display: flex;
  
}
.owl-loaded {
  position: relative;
}
.owl-nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  @include max-xl {
        left: auto;
        bottom: auto;
        right: 0;
        top: -93px;
        justify-content: center;
        width: max-content;
        gap: 10px;
    }
  @include max-lg {
        top: -84px;
    }
}
.owl-nav button {
  background-image: url(../images/slider_btn_right.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 90px;
  height: 90px;
  cursor: pointer;
  @include max-bigScreen {
    width: 60px;
    height: 60px;
  }
  @include max-xxxl {
    width: 50px;
    height: 50px;
  }
  @include max-xl {
    width: 48px;
    height: 48px;
  }
  & span {
    display: none;
  }
}
.owl-prev {
  transform: rotate(180deg);
}
.owl-dots {
  display: none;
}
.slick-arrow {
  display: none !important;
}
.slick-dots {
  display: none !important;
}
.custom-button {
  font-family: 'Open Sans', sans-serif;
  background: #f46d06;
  border-radius: 75px;
  color: #fff;
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;
  text-align: center;
  max-width: 525px;
  width: 100%;
  padding: 27px 0;
  display: block;
  cursor: pointer;
  transition: 0.1s;
  @include max-bigScreen {
    max-width: 350px;
    font-size: 18px;
    line-height: 24px;
    padding: 18px 20px;
  }
  @include max-xxxl {
    padding: 13px 20px;
  }
  @include max-sm {
    font-size: 16px;
    line-height: 22px;
    max-width: 290px;
  }
  &:hover {
    transform: scale(1.03);
    transition: 0.1s;
  }
}
.row-rewerse {
  flex-direction: row-reverse;
}
.opacity0 {
  opacity: 0;
}
.catalog__active {
  margin-top: 11px !important;
}
::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0);
}
.sectionTitle {
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  color: #0d0d0d;
  margin-bottom: 75px;
  @include max-bigScreen {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 50px;
  }
  @include max-xxxl {
    font-size: 32px;
    line-height: 40px;
  }
  @include max-xl {
    margin-bottom: 20px;
  }
  @include max-sm {
    font-size: 20px;
    line-height: 24px;
  }
}
section {
  border-top: 1px solid #cbcbcb;
  padding: 150px 0;
  @include max-bigScreen {
    padding: 100px 0;
  }
  @include max-lg {
    padding: 50px 0;
  }
}
.btn__next {
  width: 13px;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
  margin: auto;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
}
select::-ms-expand {
  display: none;
}
.text {
  font-size: 24px;
}
.text_simple {
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  color: #0d0d0d;
  @include max-bigScreen {
    font-size: 20px;
    line-height: 28px;
  }
  @include max-xxxl {
    font-size: 18px;
    line-height: 26px;
  }
  @include max-lg {
    font-size: 16px;
    line-height: 22px;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 5;
}
.videoBlock {
  position: relative;
}
.play__btn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}
