.main {
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  &__content {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    width: 100%;
  }
  &__group {
    &-btns {
    }
    &-btn {
      display: flex;
      align-items: center;
      background-color: #fff;
      border-radius: 75px;
      & span {
        font-size: 24px;
        line-height: 33px;
        padding: 0 45px;
      }
      & img {
        width: 90px;
        height: 90px;
      }
    }
  }
  &__text {
  }
}
