.main {
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  background-position-x: 40%;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
  }
  @include max-lg {
    background-position-x: 55%;
  }
  &__content {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 1;
    @include max-lg {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 100vh;
    }
  }
  &__group {
    & h1 {
      color: #fff;
      font-weight: 700;
      font-size: 120px;
      line-height: 132px;
      text-transform: uppercase;
      @include max-fullhd {
        font-size: 80px;
        line-height: 88px;
      }
      @include max-xxl {
        font-size: 50px;
        line-height: 56px;
      }
      @include max-lg {
        font-size: 28px;
        line-height: 34px;
      }
    }
    &-btns {
      height: 100vh;
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: flex-end;
      justify-content: flex-end;
      padding-bottom: 60px;
      max-width: 420px;
      @include max-fullhd {
        gap: 20px;
      }
      @include max-lg {
        height: auto;
        position: absolute;
        bottom: 0;
        right: 0;
      }
      @include max-sm {
        height: auto;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        max-width: 280px;
      }
      &.scrolled {
        position: fixed;
        right: 120px;
        bottom: 60px;
        height: auto;
        padding: 0;
        @include max-fullhd {
          right: 80px;
          bottom: 40px;
        }
        @include max-xxl {
          right: 40px;
          bottom: 30px;
        }
        @include max-xlmidle {
          right: 20px;
        }
        & span {
          visibility: hidden;
          width: 0;
          padding: 0;
          transition: .5s;
          min-width: auto;
          white-space: nowrap;
          // position: absolute;
        }
        & .main__group-btn:hover {
          transform: scale(1.1);
        }
        & .main__group-btn {
          max-width: 90px;
          position: relative;
          transition: .5s;
          @include max-fullhd {
          max-width: 60px;
        }
        }
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      background-color: #fff;
      border-radius: 75px;
      max-width: 420px;
      width: 100%;
      transition: .5s;
      overflow: hidden;
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
        transition: 0.1s;
      }
      & span {
        font-size: 24px;
        line-height: 33px;
        padding: 0 25px 0 35px;
        width: max-content;
        min-width: max-content;
        font-family: 'Open Sans', sans-serif;
        color: #0d0d0d;
        font-weight: 600;
        @include max-fullhd {
          font-size: 16px;
          line-height: 22px;
        }
      }
      & img {
        width: 90px;
        height: 90px;
        margin-right: 0;
        margin-left: auto;
        position: relative;
        z-index: 5;
        @include max-fullhd {
          width: 60px;
          height: 60px;
        }
        @include max-lg {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
  &__text {
    font-weight: 600;
    font-size: 30px;
    line-height: 42px;
    color: #fff;
    margin-top: 30px;
    @include max-fullhd {
      font-size: 20px;
      line-height: 28px;
      margin-top: 20px;
    }
    @include max-lg {
      font-size: 18px;
      line-height: 24px;
    }
  }
}
