.main {
  height: 100svh;
  min-height: 100svh;
  background-size: cover;
  display: flex;
  align-items: center;
  background-position-x: 40%;
  position: relative;
  // overflow-x: hidden;
  overscroll-behavior: none;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    inset: 0;  
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    touch-action: none;
  }
  @include max-lg {
    background-position-x: 55%;
  }
  &__logo {
    height: auto;
    display: none;
    @include max-xl {
      display: block;
      position: absolute;
      top: 15px;
      left: 0;
    }
    & img {
      max-width: 360px;
      width: 360px;
      @include max-fullhd {
        max-width: 240px;
        width: 240px;
      }
      @include max-xxxl {
        max-width: 182px;
        width: 182px;
      }
    }
  }
  &__content {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 1;
    @include max-xl {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 100vh;
    }
  }
  &__group {
    & h1 {
      color: #fff;
      font-weight: 700;
      font-size: 120px;
      line-height: 132px;
      text-transform: uppercase;
      @include max-fullhd {
        font-size: 80px;
        line-height: 88px;
      }
      @include max-xxl {
        font-size: 50px;
        line-height: 56px;
      }
      @include max-col {
        font-size: 28px;
        line-height: 34px;
      }
    }
    
  }
  &__text {
    font-weight: 600;
    font-size: 30px;
    line-height: 42px;
    color: #fff;
    margin-top: 30px;
    @include max-fullhd {
      font-size: 20px;
      line-height: 28px;
      margin-top: 20px;
    }
    @include max-col {
      font-size: 18px;
      line-height: 24px;
    }
  }
}
