.main {
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  &__content {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  &__group {
    & h1 {
      color: #fff;
      font-weight: 700;
      font-size: 7.5rem;
      line-height: 132px;
      text-transform: uppercase;
      max-width: 60%;
    }
    &-btns {
      height: 100vh;
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: flex-end;
      justify-content: flex-end;
      padding-bottom: 60px;
    }
    &-btn {
      display: flex;
      align-items: center;
      background-color: #fff;
      border-radius: 75px;
      max-width: 420px;
      & span {
        font-size: 24px;
        line-height: 33px;
        padding: 0 45px;
        width: max-content;
        min-width: max-content;
      }
      & img {
        width: 90px;
        height: 90px;
      }
    }
  }
  &__text {
  }
}
