.about {
  &__content {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 75px;
    margin-top: 75px;
    @include max-bigScreen {
      margin-top: 50px;
      gap: 50px;
    }
    @include max-xxxl {
      margin-top: 20px;
    }
    @include max-xl {
      grid-template-columns: 1fr;
    }
  }
  &__info {
    & p:first-child {
      padding-bottom: 75px;
      border-bottom: 1px solid #cbcbcb;
      @include max-bigScreen {
        padding-bottom: 50px;
      }
      @include max-xxxl {
        padding-bottom: 20px;
      }
    }
    & p:not(:first-child) {
      padding-top: 75px;
      @include max-bigScreen {
        padding-top: 50px;
      }
      @include max-xxxl {
        padding-top: 20px;
      }
    }
  }
  &__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    & img {
      max-width: 1080px;
      height: auto;
    }
  }
  &__nums {
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    @include max-bigScreen {
      margin-top: 100px;
    }
    @include max-lg {
      margin-top: 55px;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 70px;
    }
    &::after,
    &::before {
      @include max-lg {
        content: '';
        background-color: #cbcbcb;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
      }
    }
    &::after {
      @include max-lg {
        width: 100%;
        height: 2px;
      }
    }
    &::before {
      @include max-lg {
        width: 2px;
        height: 100%;
      }
    }
    &-item {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 0 10px;
      &:not(:first-child) {
        border-left: 2px solid #cbcbcb;
        @include max-lg {
          border: none;
        }
      }
      &:first-child::after {
        @include max-lg {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          width: 10px;
          height: 22px;
          background-color: #f0f0ef;
          z-index: 1;
        }
      }
      &__val {
        color: #0d0d0d;
        font-weight: 700;
        font-size: 72px;
        line-height: 84px;
        text-align: center;
        @include max-bigScreen {
          font-size: 48px;
          line-height: 56px;
        }
        @include max-xxxl {
          font-size: 32px;
          line-height: 40px;
        }
      }
      &__text {
        font-weight: 400;
        font-size: 27px;
        line-height: 45px;
        text-align: center;
        color: #4d4d4d;
        @include max-bigScreen {
          font-size: 18px;
          line-height: 30px;
        }
        @include max-xxxl {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }
}
