.nums {
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 75px;
    @include max-fullhd {
      gap: 50px;
    }
    @include max-l {
      grid-template-columns: 1fr;
    }
    @include max-sm {
      gap: 20px;
    }
  }
  &__text-group {
    display: flex;
    gap: 75px;
    margin-top: 75px;
    @include max-fullhd {
      gap: 50px;
      margin-top: 50px;
    }
    @include max-xxl {
      gap: 20px;
    }
    @include max-l {
      flex-direction: column;
    }
    @include max-sm {
      gap: 20px;
      margin-top: 20px;
    }
    &__item {
    }
    &__title {
    }
    &__desc {
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      color: #0d0d0d;
      @include max-fullhd {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
  & .about__nums {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0;
    @include max-l {
      row-gap: 20px;
    }
    &::after,
    &::before {
      content: '';
      background-color: #cbcbcb;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
    }
    &::after {
      width: 100%;
      height: 2px;
    }
    &::before {
      width: 2px;
      height: 100%;
    }
    &-item {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 0 10px;
      justify-content: center;
      @include max-l {
        padding: 20px 10px;
      }
      &:not(:first-child) {
        border-left: 2px solid #cbcbcb;
        border: none;
      }
      &:first-child::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 10px;
        height: 22px;
        background-color: #f0f0ef;
        z-index: 1;
      }
    }
  }
}
