.aboutSlider {
  &__slider {
    padding: 0 105px;
    @include max-fullhd {
      padding: 0 70px;
    }
    @include max-l {
      padding: 0;
    }
    @include max-sm {
      width: calc(100vw);
      left: 50%;
      margin-left: -50vw;
      position: relative;
      padding-left: 20px;
    }
    & .owl-stage {
      @include max-xxl {
        margin-left: -75px;
      }
      @include max-l {
        margin-left: -30px;
      }
      @include max-sm {
        margin-left: -20px;
      }
    }
    .owl-nav {
      @include max-l {
        top: -60px;
      }
    }
  }
  & .imgBox {
        aspect-ratio: 16 / 9;
        display: flex;
  }
}
