.team {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 75px;
    @include max-fullhd {
      gap: 50px;
    }
    @include max-l {
      gap: 20px;
    }
  }
  & .videoBlockSimple .pause__btn {
    opacity: 1;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }

  & .videoBlockSimple .pause__btn.is-hidden {
    opacity: 0;
  }

  &__desc {
  }
  & .custom-button {
    margin: auto;
    display: block;
  }
}
