.logistics {
  & .play__btn {
    width: 150px;
    @include max-fullhd {
      width: 100px;
    }
    @include max-lg {
      width: 50px;
    }
  }
  & .template1__content {
    margin-bottom: 75px;
     @include max-fullhd {
       margin-bottom: 50px;
    }
    @include max-lg {
       margin-bottom: 20px;
    }
  }
  & .template1__list {
    margin-top: 45px;
    @include max-fullhd {
      margin-top: 30px;
    }
    @include max-lg {
      margin-top: 0;
    }
    &-item {
        padding-bottom: 0;
    }
  }
}
