.template1 {
  &__content {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 75px;
    margin-top: 75px;
    @include max-bigScreen {
      margin-top: 50px;
      gap: 50px;
    }
    @include max-xxxl {
      margin-top: 20px;
    }
    @include max-xl {
      grid-template-columns: 1fr;
    }
    @include max-lg {
      gap: 20px;
    }
    &-reverse {
      grid-template-columns: 1fr 1.3fr;
      @include max-xl {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }
  &__info {
    &-texts {
      margin-top: 30px;
      @include max-bigScreen {
        margin-top: 20px;
      }
    }
    & p:first-child {
      padding-bottom: 75px;
      border-bottom: 1px solid #cbcbcb;
      @include max-bigScreen {
        padding-bottom: 50px;
      }
      @include max-xxxl {
        padding-bottom: 20px;
      }
    }
    & p:not(:first-child) {
      padding-top: 75px;
      @include max-bigScreen {
        padding-top: 50px;
      }
      @include max-xxxl {
        padding-top: 20px;
      }
    }
  }
  &__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    & img {
      max-width: 1080px;
      height: auto;
    }
  }
  &__list {
    &-item {
      position: relative;
      font-weight: 400;
      padding: 35px 0;
      display: flex;
      align-items: center;
      gap: 30px;
      @include max-bigScreen {
        gap: 20px;
        padding: 30px 0;
      }
      @include max-xxxl {
        padding: 20px 0;
      }
      @include max-lg {
        gap: 10px;
      }
      
      &::before {
        content: counter(step) '.';
        font-weight: 700;
        font-size: 63px;
        line-height: 50px;
        color: #ff7d00;
        @include max-bigScreen {
          font-size: 42px;
          line-height: 33px;
        }
        @include max-xxxl {
          font-size: 32px;
          line-height: 40px;
        }
        @include max-lg {
          font-size: 24px;
          line-height: 32px;
        }
      }
    }

  }
  & ol.template1__list {
    counter-reset: step;
    & .template1__list-item {
      counter-increment: step;
      &:not(:first-child) {
        border-top: 1px solid #cbcbcb;
      }
    }
  }
  & ul.template1__list {
    list-style: disc;
    list-style-type: disc;
    
    counter-reset: none;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
     & .template1__list-item {
      border-top: none;
      list-style: disc;
      list-style-type: disc;
      display: inline;
      &::before {
        display: none;
     }
     }
     &::before {
        display: none;
     }

  }
  & .custom-button {
    margin: 75px auto 0;
    @include max-bigScreen {
      margin: 50px auto 0;
    }
    @include max-lg {
      margin: 20px auto 0;
    }
  }
}
.about {
  &__nums {
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    @include max-bigScreen {
      margin-top: 100px;
    }
    @include max-lg {
      margin-top: 55px;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 70px;
    }
    &::after,
    &::before {
      @include max-lg {
        content: '';
        background-color: #cbcbcb;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
      }
    }
    &::after {
      @include max-lg {
        width: 100%;
        height: 2px;
      }
    }
    &::before {
      @include max-lg {
        width: 2px;
        height: 100%;
      }
    }
    &-item {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 0 10px;
      &:not(:first-child) {
        border-left: 2px solid #cbcbcb;
        @include max-lg {
          border: none;
        }
      }
      &:first-child::after {
        @include max-lg {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          width: 10px;
          height: 22px;
          background-color: #f0f0ef;
          z-index: 1;
        }
      }
      &__val {
        color: #0d0d0d;
        font-weight: 700;
        font-size: 72px;
        line-height: 84px;
        text-align: center;
        @include max-bigScreen {
          font-size: 48px;
          line-height: 56px;
        }
        @include max-xxxl {
          font-size: 32px;
          line-height: 40px;
        }
      }
      &__text {
        font-weight: 400;
        font-size: 27px;
        line-height: 45px;
        text-align: center;
        color: #4d4d4d;
        @include max-bigScreen {
          font-size: 18px;
          line-height: 30px;
        }
        @include max-xxxl {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }
}
