.template2 {
  &__content {
    margin-top: 75px;
    @include max-fullhd {
      margin-top: 50px;
    }
    @include max-xxl {
      margin-top: 20px;
    }
  }
  &__text-group {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    & img {
      max-width: 1080px;
      height: auto;
    }
  }
  &__list {
    margin: 75px 0;
    @include max-fullhd {
    margin: 50px 0;
  }
  @include max-l {
    margin: 20px 0;
  }
    &-item {
      position: relative;
      padding: 35px 0;
      display: flex;
      align-items: center;
      gap: 30px;
      @include max-fullhd {
        gap: 20px;
        padding: 30px 0;
      }
      @include max-xxl {
        padding: 20px 0;
      }
      @include max-lg {
        gap: 10px;
      }
    }
  }
  & .custom-button {
    margin: 75px auto 0;
    @include max-fullhd {
      margin: 50px auto 0;
    }
    @include max-lg {
      margin: 20px auto 0;
    }
  }
}
