.trackingBlock {
  & .template2__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    @include max-xl {
      grid-template-columns: repeat(2, 1fr);
    }
    &-item {
      display: flex;
      flex-direction: column;
      gap: 15px;
      &__img {
        max-width: 180px;
        @include max-bigScreen {
          max-width: 120px;
        }
        @include max-lg {
          max-width: 80px;
        }
      }
      &__text {
        font-weight: 700;
        text-align: center;
        @include max-sm {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
}
