.pageInfo {
  border: none;
  padding: 150px 0;
  @include max-fullhd {
    padding: 100px 0;
  }
  @include max-l {
    padding: 50px 0;
  }
  &__top-text {
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    @include max-fullhd {
      margin-bottom: 50px;
      gap: 20px;
    }
  }
  &__content {
    & h2 {
      margin-bottom: 75px;
      @include max-fullhd {
        margin-bottom: 50px;
      }
      @include max-l {
        margin-bottom: 20px;
      }
    }

    & h3 {
      font-weight: 600;
      font-size: 48px;
      line-height: 60px;
      color: #0d0d0d;
      margin-bottom: 75px;
      @include max-fullhd {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 50px;
      }
      @include max-xxl {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 50px;
      }
      @include max-l {
        margin-bottom: 36px;
      }
      @include max-sm {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 20px;
      }
    }
    & .text-slogan {
      font-weight: 700;
      font-size: 72px;
      line-height: 84px;
      text-align: center;
      color: #cbcbcb;
      margin: 150px auto 0;
      max-width: 1200px;
      @include max-fullhd {
        font-size: 48px;
        line-height: 56px;
        margin: 100px auto 0;
        max-width: 802px;
      }
      @include max-xxl {
        font-size: 32px;
        line-height: 40px;
        max-width: 535px;
      }
      @include max-l {
        font-size: 24px;
        line-height: 32px;
        margin: 50px auto 0;
        max-width: 420px;
      }
      @include max-sm {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
  &__product-list {
    display: flex;
    flex-direction: column;
    gap: 75px;
    @include max-fullhd {
      gap: 50px;
    }
    @include max-l {
      flex-direction: row;
      gap: 10px;
    }
    & .owl-stage-outer {
      @include max-l {
        width: calc(100vw);
        left: 50%;
        margin-left: -51vw;
        position: relative;
      }
      @include max-md {
        width: calc(100vw);
        left: 50%;
        margin-left: -49vw;
        position: relative;
      }
    }
    &__item {
      display: grid;
      grid-template-columns: 1.5fr 2fr;
      padding: 30px;
      gap: 30px;
      border: 1px solid #cbcbcb;
      border-radius: 15px;
      @include max-fullhd {
        gap: 20px;
        padding: 20px;
        border-radius: 10px;
      }
      @include max-xxl {
        padding: 10px;
        border-radius: 10px;
      }
      @include max-l {
        grid-template-columns: 1fr;
      }
      & img {
        object-fit: cover;
      }
      &-group {
        display: flex;
        flex-direction: column;
        @include max-l {
          gap: 20px;
        }
        &-text {
          flex: 1 0 auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 30px;
          @include max-fullhd {
            gap: 20px;
          }
          @include max-l {
            justify-content: flex-start;
          }
          & h4 {
            font-weight: 700;
            font-size: 30px;
            line-height: 36px;
            color: #0d0d0d;
            @include max-fullhd {
              font-size: 20px;
              line-height: 24px;
            }
            @include max-xxl {
              font-size: 18px;
              line-height: 26px;
            }
            @include max-xxl {
              font-size: 16px;
              line-height: 22px;
            }
          }
        }
        & button {
          flex-shrink: 0;
          margin: auto;
        }
      }
    }
  }
  & .custom-button {
    margin: auto;
  }
}
