.main__group-btns {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 60px;
  max-width: 420px;
  position: absolute;
  right: 0;
  @include max-fullhd {
    gap: 20px;
  }
  @include max-lg {
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  @include max-sm {
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    // max-width: 280px;
    max-width: max-content;
    
  }
  &.scrolled {
    position: fixed;
    right: 120px;
    bottom: 60px;
    height: auto;
    padding: 0;
    @include max-fullhd {
      right: 80px;
      bottom: 40px;
    }
    @include max-xxl {
      right: 40px;
      bottom: 30px;
    }
    @include max-xlmidle {
      right: 20px;
    }
    @include max-sm {
      left: auto;
    }
    & span {
      width: 0;
      padding: 0;
      transition: 0.5s;
      white-space: nowrap;
    }
    & .main__group-btn:hover {
      transform: scale(1.1);
      width: 420px;
      max-width: 420px;
      @include max-fullhd {
        width: 280px;
        height: 60px;
      }
      @include max-xxl {
        height: 50px;
        width: 255px;
      }
      @include max-sm {
        width: 48px;
        height: 48px;
      }
      & span {
        padding: 0;
        position: absolute;
        left: 0;
        right: 90px;
        margin: auto;
        display: block;
        @include max-fullhd {
          right: 60px;
        }
        @include max-xxl {
          right: 50px;
          // transition: none;
        }
        @include max-l {
        //   transition: none;
        }
      }
    }
    & .main__group-btn {
      max-width: 90px;
      position: relative;
      transition: 0.5s;
      @include max-fullhd {
        max-width: 60px;
      }
      @include max-xxl {
        max-width: 50px;
        // transition: none;
      }
      @include max-l {
        max-width: 50px;
        // transition: none;
      }
      @include max-lg {
        
      }
      @include max-sm {
        max-width: 48px;
        transition: none;
      }
    }
    & .main__group-btn:first-child img {
      margin-left: 0;
    }
  }
}

.main__group-btn {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 75px;
  max-width: 420px;
  width: 100%;
  transition: 0.5s;
  width: 420px;
  height: 90px;
  overflow-x: hidden;
  position: relative;
  cursor: pointer;
  pointer-events: all;
  @include max-fullhd {
    width: 280px;
    height: 60px;
  }
  @include max-xxl {
    width: 255px;
    height: 50px;
  }
  @include max-sm {
    width: 280px;
    height: 48px;
    
  }
  &:hover {
    transform: scale(1.05);
    transition: 0.1s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  &:first-child img {
    @include max-sm {
      margin-left: -8px;
    }
  }
  & span {
    font-size: 24px;
    line-height: 33px;
    padding: 0;
    width: max-content;
    min-width: max-content;
    font-family: 'Open Sans', sans-serif;
    color: #0d0d0d;
    font-weight: 600;
    position: absolute;
    left: 0;
    right: 90px;
    margin: auto;
    position: absolute;
    display: block;
    @include max-fullhd {
      font-size: 16px;
      line-height: 22px;
      right: 60px;
    }
    @include max-xxl {
      right: 50px;
    }
    @include max-sm {
      // padding: 0 25px 0 50px;
    }
  }
  & img {
    width: 90px;
    height: 90px;
    margin-right: 0;
    margin-left: auto;
    position: relative;
    z-index: 5;
    position: absolute;
    right: 0;
    @include max-fullhd {
      width: 60px;
      height: 60px;
    }
    @include max-xxl {
      width: 50px;
      height: 50px;
    }
    @include max-sm {
      width: 48px;
      height: 48px;
    }
  }
}
