.btnBack {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 27px 30px 27px 96px;
  position: absolute;
  z-index: 5;
  top: 225px;
  left: 0;
  backdrop-filter: blur(10px);
  border-radius: 0 75px 75px 0;
  overflow: hidden;
  cursor: pointer;
  transition: .1s;
  @include max-fullhd {
    gap: 14px;
    padding: 17px 20px 17px 64px;
    top: 150px;
  }

  @include max-xl {
    position: fixed;
    gap: 0;
    padding: 0;
    width: 48px;
    height: 48px;
    justify-content: center;
    top: 10px;
    left: 15px;
    backdrop-filter: none;
    background-color: #000;
    border-radius: 50%;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
  }
  &:hover {
    transform: scale(1.03);
    transition: .1s;
  }
  & img {
    width: 24px;
    height: 18px;
    @include max-fullhd {
      width: 16px;
      height: 12px;
    }
  }
  & span {
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    color: #fff;
    @include max-fullhd {
      font-size: 18px;
      line-height: 24px;
    }
    @include max-xl {
      display: none;
    }
  }
}
